.populaires{
	display: inline-block;
	width: 30%;
	max-height: 1920px;
	background-color: #EEE;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	margin-bottom: 20px;
	flex-shrink: 0;
}

.populaire1{
	border-radius: 10px;
	width: 95%;
	height: 120px;
	background-color: #FFF;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 5px;
	display: flex;
	box-shadow: 0px 0px 5px #AAA;
}

.populaire1:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px #888;
}

.image1{
	display: inline-block;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	height: 100%;
	width: 40%;
}

.image1 img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.descri{
	display: flex;
	display: inline-block;
	width: 69%;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

.p4{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

.p5{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}

.ratings1{
	margin: 30% 10px 10px 10px;
}

.ratings1 i{
	color: #007BFF;
	font-size: 12px;
}

.ratings2{
	margin: 25% 10px 10px 10px;
}

.ratings2 i{
	color: #007BFF;
	font-size: 12px;
}

.en-tete{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.en-tete i{
	font-size: 16px;
	font-weight: bold;
}

.en-tete i:hover{
	font-size: 17px;
	cursor: pointer;
	text-shadow: 0px 0px 2px #888;
}

.titre2{
	display: inline-block;
	width: 70%;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

@media (max-width: 768px){
	.populaires{
		background-color: white;
		display: inline-block;
		width: 100%;
		max-height: 3840px;
		background-color: #EEE;
		border-radius: unset;
		padding: 5px 0px 20px 0px;
		display: flex;
		align-content: flex-start;
		gap: 15px;
		flex-wrap: wrap;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		margin-bottom: 0px;
		order: 1;
	}
	
	.populaire1{
		border-radius: 30px;
		width: 90vw;
		height: 180px;
		background-color: #FFF;
		overflow: hidden;
		padding: 5px;
		display: flex;
		box-shadow: 0px 0px 5px #AAA;
	}
	
	.image1{
		display: inline-block;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		overflow: hidden;
		height: 100%;
		width: 40%;
	}
	
	.p4{
		margin: 20px 20px 10px 20px;
		font-size: 16px;
		font-weight: bold;
	}

	.p5{
		margin: 0px 20px 10px 20px;
		font-size: 16px;
	}
	
	.ratings1{
		margin: 80px 20px 10px 20px;
	}

	.ratings1 i{
		color: #007BFF;
		font-size: 16px;
	}
	
	.ratings2{
		margin: 80px 20px 10px 20px;
	}

	.ratings2 i{
		color: #007BFF;
		font-size: 16px;
	}
	
	.titre2{
		width: 100%;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 5px;
		margin-left: 20px;
	}
	
	.en-tete{
		display: flex;
		width: 95vw;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}

	.en-tete i{
		font-size: 24px;
		font-weight: bold;
	}
	.en-tete i:hover{
		font-size: 25px;
		cursor: pointer;
	}
}

@media (max-width: 544px){
	.ratings2{
		margin: 65px 20px 10px 20px;
	}
}
	