#app{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #EEE;
    width: 400px;
    margin: auto;
    justify-content: center;
}

#app1{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #EEE;
    width: 400px;
    margin: auto;
    justify-content: center;
}

.fenetreModale{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.modal{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 360px;
    text-align: left;
    position: relative;
}

.fermer{
    position: absolute;
    top: 10px;
    rignt: 15px;
    font-size: 24px;
    cursor: pointer;
}

h2{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

.input1{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.boutons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.valider-inscription{
    margin-top: 15px;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 31%;
    flex-grow: 1;
}

.valider-inscription:hover{
    background: #0056b3;
}

.bouton-connexion{
    margin-top: 15px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 31%;
    flex-grow: 1;
}

.bouton-connexion:hover{
    background: darkgreen;
}

.reussite{
    margin: auto;
    text-align: center;
    color: green;
}

.message-erreur{
    color: red;
    font-size: 9px;
    margin: auto;
}

.bouton-annuler{
    margin-top: 15px;
    background: #BBB;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 31%;
    flex-grow: 1;
}

.bouton-annuler:hover{
    background: #999;
}